@import './device.styl'
@import './styles.styl'

$tea-green = #c9da7b

.App
	height 100%
	width 100%
	
	display flex
	flex-flow row nowrap

	.outer-wrapper
		display flex
		flex-flow column nowrap
		justify-content center

		background gold
		border-right 10px dashed white

		flex 1 1 0
		height 100%
		
		box-shadow 0 5px 20px alpha(#000, 0.5)

		.navbar
			position absolute
			top 0px

			.brand-icon
				position relative
				margin-left 30px

				font-family "Lobster 1.3", 'Rochester', 'England Hand DB'
				font-size 60px
				color $font-smooth
				
				text-decoration underline

		.login-form
			position relative

			padding-top 40px
			padding-bottom 18px

			display flex
			justify-content center

			.large-input
				margin-bottom 12px

			.button-group
				:not(:first-child)
					margin-left 20px

	.background
		display flex
		justify-content center
		align-items center

		flex 1 1 0
		height 100%
		overflow hidden

		z-index -1

		.background-image
			flex 0 0 auto
			height 100%