@import './device.styl'



.Home
	height: 100%;
	width: 100%;
	
	.bg-container
		display: flex;
		flex-flow: row nowrap;
		height: 100%;
		width: 100%;
			
		.bg-paper
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;

			flex: 1 1 0;
			height: 100%;
			
			box-shadow: 0 5px 10px alpha(#000, 0.5);

			.bg-login-form
				padding-top: 40px;
				padding-bottom: 18px;

				display: flex;
				justify-content: center;

				.bg-input
					width: 500px;
					height: 48px;
					margin-bottom: 12px;
					
					position: relative;
					background: white;
					
					border-radius: 3px;
					box-shadow: 0 0 12px alpha(#000, 0.2), 0px 0 36px alpha(#000, 0.08);
					
					input, label
						position: absolute;
						top: 8px; left: 30px; right: 30px; bottom: 8px;
						
						font-family: Lato;	
						font-size: 20px;

					label
						color: #aaa;
						background: transparent;
						font-weight: normal;

					input
						width: 440px;
						background: transparent;

						color: #666;
						border: none;
						outline: none;
						transition: all ease-in-out 0.1s;

						&:focus
							background: white;

				button
					border: none;
					outline: none;

					background: dodgerblue;
					color: white;

					padding: 8px 30px;
					font-size: 20px;
					font-family: Lato;
					border-radius: 3px;
					
					box-shadow: 0 0 12px alpha(#000, 0.2), 0px 0 36px alpha(#000, 0.08);
					transition: all 0.1s;
				
				button:active
					box-shadow: 0 5px 12px alpha(#000, 0.4), 0px 15px 36px alpha(#000, 0.08);

		.bg-background
			display: flex;
			justify-content: center;
			align-items: center;

			flex: 1 1 0;
			height: 100%;
			overflow: hidden;

			z-index: -1;

			.bg-image
				flex: 0 0 auto;
				height: 100%;