.Home
	height: 100%;
	
	.bg-navbar
		width: 100%;
		background: orange;
		border-radius: 0px;
	
		.bg-icon
			width: 64px;
			height: 64px;
			float: left;
			background: white;

		.bg-link
			color: white;

		.bg-link:hover
			color: #888;
			background: white;
	
