@import './styles'

$tea-green = #c9da7b

.SignUp
	> .nav-bar
		padding-bottom 10px
		border-bottom 1px solid #ddd
		
		display flex
		justify-content center
		align-items center

		> .brand

			> .brand-typo
				position relative
				font-family 'Lobster 1.3'
				font-size 45px
				color $font-smooth
				
				&::after
					content "Chess.io"
					position absolute
					top 0
					left 0

					text-shadow $tea-green -5px 5px 0, gold -10px 10px 0

					z-index -1

	> .outer-wrapper
		position relative

		background gold

		display flex
		justify-content center
		align-items center

		min-height 640px

		> .form
			padding-top 60px
			padding-bottom 80px

			padding-left 60px
			padding-right 60px

			background white

			border-radius $border-radius-normal
			border 1px solid #ddd

			box-shadow long-shadow(dodgerblue, 10), long-shadow($tea-green, 20), long-shadow(#333, 30)
	
	> .footer
		border-top 1px solid #ddd
		height 120px