$box-shadow-primary = 0 0 10px alpha(#000, 0.1), 0 0 30px alpha(#000, 0.08)
$box-shadow-primary-inset = inset 0 0 10px alpha(#000, 0.1), inset 0 0 10px alpha(#000, 0.08)
$box-shadow-raised = 0 5px 10px alpha(#000, 0.1), 0 15px 30px alpha(#000, 0.08)
$box-shadow-raised-inset = inset 0 5px 10px alpha(#000, 0.1), inset 0 15px 30px alpha(#000, 0.08)

$speed-rapid = 0.1s
$speed-fast = 0.3s
$speed-medium-fast = 0.5s
$speed-normal = 1s
$speed-slow = 5s

$border-radius-small = 3px
$border-radius-normal = 5px
$border-radius-large = 8px

$font-smooth = #666
$font-light = #aaa

long-shadow(color, length)
    $shadow = "-1px 1px 0 " + color
    for i in range(2, length)
        $shadow = $shadow + ", -" + i + "px " + i + "px 0 " + color
    unquote($shadow)