$box-shadow-primary = '0 0 12px alpha(#000, 0.2), 0px 0 36px alpha(#000, 0.08)'
$box-shadow-raised = '0 5px 12px alpha(#000, 0.4), 0px 15px 36px alpha(#000, 0.08)'

$speed-rapid = 0.1s
$speed-fast = 0.3s
$speed-medium-fast = 0.5s
$speed-normal = 1s
$speed-slow = 5s

$border-radius-small = 3px
$border-radius-normal = 5px
$border-radius-large = 8px

$font-smooth = #666
$font-light = #aaa