@import './styles.styl'

.entrance
	display flex
	flex-flow column nowrap

	width 100%
	height 100%

	.outer-wrapper
		display flex
		flex-flow column nowrap

		align-items center

		width 100%
		flex 1 1 auto

		padding 60px

		.search-box
			margin-bottom 20px
		
		.new-room-button
			margin-bottom 24px

		.rooms
			.room
				width 800px

				.line
					display flex
					align-items center
					
					.id
						flex 0 0 auto

						color #888

					.title
						margin-left 20px
						margin-right 20px
						flex 1 1 auto
					
					.large-button
						flex 0 0 auto