@import '../styles.styl'

.nav-bar
    position fixed
    left 0
    right 0
    top 0

    height 60px
    box-shadow $box-shadow-primary

    background gold

    .brand
        .brand-typo
            margin-left 20px;

            position relative
            font-family 'Lobster 1.3'
            font-size 45px
            color $font-smooth