@import "../styles.styl";

:local .LargeButton :global
	border none
	outline none

	background dodgerblue
	color white

	padding 8px 30px
	font-size 20px
	font-family Lato
	border-radius 3px
	
	cursor pointer

	box-shadow $box-shadow-primary
	transition all 0.1s

	& :active
		box-shadow $box-shadow-raised